--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
pillow
torch==2.2.2+cpu
torchvision==0.17.2+cpu

pandas
requests
beautifulsoup4
matplotlib
seaborn
numpy
pillow
python-multipart
mlflow
scikit-learn
pytest
mlflow
torch
torchvision
tqdm
